@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    background-color: #FFF8F0;
    color: #CC295F;
}

.imgClass{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border:5px solid #CC295F;
}

.imgC{
    margin: 0 0 0 0;
    display: flex;
    justify-self: center;
    align-self: center;
    max-width: max-content;
}

.handleCard{
    /* min-width: 400px; */
    max-width: 400px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    /* border-radius: 15px; */
}

.aLink{
    color: #5851D8;;
}

.textC{
    /* padding: 50px; */
    margin: 0 0 0 -1.1vh;
    display: flex;
    justify-self: center;
    align-self: center;
    min-width: max-content;
}

input {
    padding: 1em;
    font-size: 16px;
    background-color: #5851D8;
    color: #fff;
    border-radius: 5px;
    /* border: 2px solid #CC295F; */
}

.sectionC{
    /* width:100%; */
    height: 10vh;
    /* white-space:unset ; */
    /* margin-left: 100px; */
    background-color: black;
}
.inputC{
    background-color: #5851D8;
    color: #FFF8F0;
}

.inputBtn{
    background-color: #fff;
    color: #5851D8;
    display:inline;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 2px solid #CC295F; */
}

#search_form{
    /* border: 2px solid #000; */
    /* display:inline;
    position:relative; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; 
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}

.catBtn{
    display: inline-flex;
    background-color: #000;
    color: #FFF8F0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.catSel2{
    background-color: #CC295F;
}

.catSel{
    background-color: #CC295F;
    transition: all 0.3s ease-in-out;
}

.catSel:hover{
    color: #CC295F;
    background-color: #FFF8F0;
}