body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  background-color: #FFF8F0;
  color: #E1306C;
}

a{
  color: #5851D8;
}